<%= form_for @changeset, @action, fn f -> %>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
<% end %>
<%= label f, :title %>
<%= text_input f, :title %>
<%= error_tag f, :title %>
<%= label f, :body %>
<%= textarea f, :body %>
<%= error_tag f, :body %>
<div class="flex justify-end m-2">
  <%= link "Back", to: Routes.bulletin_path(@conn, :show, @bulletin), class: "rounded-md m-2 bg-gray-100 p-2 text-sm text-gray-700" %>
  <%= submit "Send Notification", class: "rounded-md m-2 bg-blue-100 p-2 text-sm text-blue-700" %>
</div>
<% end %>
