<h1>Listing Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Date</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for notification <- @notifications do %>
    <tr>
      <td><%= notification.title %></td>
      <td><%= notification.body %></td>
      <td><%= notification.inserted_at %></td>

    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Notification", to: Routes.notification_path(@conn, :new, @bulletin_id) %></span>
