<h1 class="text-xl"><%= @bulletin.title %> - New Notification</h1>
<p class="p-3">Send a notification to all subscribers of this bulletin board. These are independent from events, and you can send as many as you want.</p>
<%= render "form.html", Map.put(assigns, :action, Routes.notification_path(@conn, :create, @bulletin)) %>
