<h1>Show Notification</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @notification.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @notification.body %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.notification_path(@conn, :edit, @notification) %></span>
<span><%= link "Back", to: Routes.notification_path(@conn, :index) %></span>
