<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Start date</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.body %></td>
      <td><%= event.start_date %></td>

      <td>
        <span><%= link "Show", to: Routes.event_path(@conn, :show, event) %></span>
        <span><%= link "Edit", to: Routes.event_path(@conn, :edit, event) %></span>
        <span><%= link "Delete", to: Routes.event_path(@conn, :delete, event), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
