<h1 class="text-xl"><%= @bulletin.title %> - New Event</h1>
<p class="p-3">Create a new event on the bulletin board. This will not send any notifications.</p>
<%= render "form.html", Map.put(assigns, :action, Routes.event_path(@conn, :create, @bulletin_id)) %>
