<h1>Show Event</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @event.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @event.body %>
  </li>

  <li>
    <strong>Start date:</strong>
    <%= @event.start_date %>
  </li>

</ul>

<span><%= link "Back", to: Routes.bulletin_path(@conn, :show, @event.bulletin_id) %></span>

<%= if @current_user && @event.bulletin.user_id == @current_user.id do %>
  <span>(
    <span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
    |
    <span><%= link "Delete", to: Routes.event_path(@conn, :delete, @event), method: :delete, data: [confirm: "Delete #{@event.title}?"] %></span>
  )</span>
<% end %>