<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :pn_endpoint %>
  <%= text_input f, :pn_endpoint %>
  <%= error_tag f, :pn_endpoint %>

  <%= label f, :pn_p256dh %>
  <%= text_input f, :pn_p256dh %>
  <%= error_tag f, :pn_p256dh %>

  <%= label f, :pn_auth %>
  <%= text_input f, :pn_auth %>
  <%= error_tag f, :pn_auth %>

  <%= label f, :ip_addr %>
  <%= text_input f, :ip_addr %>
  <%= error_tag f, :ip_addr %>

  <%= label f, :user_agent %>
  <%= text_input f, :user_agent %>
  <%= error_tag f, :user_agent %>

  <div>
    <%= submit "Save", class: "rounded-md m-2 bg-blue-100 p-2 text-sm text-blue-700" %>
  </div>
<% end %>
