<h1>Listing Subscribers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pn endpoint</th>
      <th>Pn p256dh</th>
      <th>Pn auth</th>
      <th>Ip addr</th>
      <th>User agent</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for subscriber <- @subscribers do %>
    <tr>
      <td><%= subscriber.name %></td>
      <td><%= subscriber.pn_endpoint %></td>
      <td><%= subscriber.pn_p256dh %></td>
      <td><%= subscriber.pn_auth %></td>
      <td><%= subscriber.ip_addr %></td>
      <td><%= subscriber.user_agent %></td>

      <td>
        <span><%= link "Show", to: Routes.subscriber_path(@conn, :show, subscriber) %></span>
        <span><%= link "Edit", to: Routes.subscriber_path(@conn, :edit, subscriber) %></span>
        <span><%= link "Delete", to: Routes.subscriber_path(@conn, :delete, subscriber), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Subscriber", to: Routes.subscriber_path(@conn, :new) %></span>
