<h1>Show Subscriber</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @subscriber.name %>
  </li>

  <li>
    <strong>Pn endpoint:</strong>
    <%= @subscriber.pn_endpoint %>
  </li>

  <li>
    <strong>Pn p256dh:</strong>
    <%= @subscriber.pn_p256dh %>
  </li>

  <li>
    <strong>Pn auth:</strong>
    <%= @subscriber.pn_auth %>
  </li>

  <li>
    <strong>Ip addr:</strong>
    <%= @subscriber.ip_addr %>
  </li>

  <li>
    <strong>User agent:</strong>
    <%= @subscriber.user_agent %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.subscriber_path(@conn, :edit, @subscriber) %></span>
<span><%= link "Back", to: Routes.subscriber_path(@conn, :index) %></span>
