@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

iframe[src="/phoenix/live_reload/frame"] {
  display: none;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

label {
  min-width: 100%;
  display: block;
  margin: 1em;
}
textarea,input,.datetimeselect {
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100%;
}

@media only screen and (min-width: 600px) {
  textarea,input,.datetimeselect {
    padding: .5em;
  }
  #session_email {
    min-width: 50%;
  }
}