<%= form_for @changeset, @action, fn f -> %>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
<% end %>
<%= label f, :name %>
<%= text_input f, :name %>
<%= error_tag f, :name %>
<%= label f, :email %>
<%= text_input f, :email %>
<%= error_tag f, :email %>
<div class="flex justify-end m-2">
  <%= link "Back", to: Routes.bulletin_path(@conn, :index), class: "rounded-md m-2 bg-gray-100 p-2 text-sm text-gray-700" %>
  <%= submit "Save", class: "rounded-md m-2 bg-blue-100 p-2 text-sm text-blue-700" %>
</div>
<% end %>
