<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Bulletins</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <%= for bulletin <- user.bulletins do %>
          <span><%= link bulletin.title, to: Routes.bulletin_path(@conn, :show, bulletin) %></span>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
