<h1>New User</h1>
<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
<p class="m-2 my-4">
  events.verynice.party exlusively uses magic links sent to your inbox for logging in.<br>
  Put in your name and email, and then check your inbox for a login link.
</p>
