<ul>

  <li class="text-xl p-2 m-2">
    <strong><%= @user.name %></strong>

    <%= if @current_user && @user.id == @current_user.id do %>
      <span class="text-gray-600"><%= link "(edit)", to: Routes.user_path(@conn, :edit, @user) %></span>
    <% end %>
  </li>

  <li class="p-1 md:m-2 border-2 rounded-md">
    <strong>Bulletins:</strong>
    <ul class="p-2">
      <%= for bulletin <- @user.bulletins do %>
        <li><%= link bulletin.title, to: Routes.bulletin_path(@conn, :show, bulletin) %> (<%= length bulletin.subscribers %> subscriber<%= if length(bulletin.subscribers) != 1 do "s" end%>)</li>
      <% end %>
    </ul>
    <%= if @current_user && @user.id == @current_user.id do %>
    <span class="text-gray-600"><%= link "(Create New Bulletin)", to: Routes.bulletin_path(@conn, :new) %></span>
    <% end %>

  </li>

</ul>

