<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NotifyEvents</title>
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/site.webmanifest") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="m-2">
    <header class="w-full border-b-2 border-gray-100 mb-6">
      <section class="max-w-7xl px-6 w-full my-0 mx-auto relative flex flex-col md:flex-row justify-between items-center">
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/banner.png") %>" alt="Phoenix Framework Logo"/>
        </a>
        <nav role="navigation">
          <ul>
          <%= if @current_user do %>
            <%= link @current_user.name, to: Routes.user_path(@conn, :show, @current_user.id) %>
            <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete%>
          <% else %>
            <li><%= link "Sign In", to: Routes.session_path(@conn, :new) %></li>
            <li><%= link "Register", to: Routes.user_path(@conn, :new) %></li>
          <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="max-w-7xl py-0 px-2 md:px-8 my-0 mx-auto w-full relative">
      <%= if info = get_flash(@conn, :info) do %>
        <div class="rounded-md mb-4 bg-blue-100 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3 flex-1 md:flex md:justify-between">
              <p class="text-sm text-blue-700" role="alert">
                <%= info %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <%= if error = get_flash(@conn, :error) do %>
        <div class="rounded-md mb-4 bg-red-100 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3 flex-1 md:flex md:justify-between">
              <p class="text-sm text-red-700" role="alert">
                <%= error %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <%= @inner_content %>
    </main>
  </body>
</html>
