<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= @bulletin.title %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>pn_serverkey = "<%= System.get_env("WEB_PUSH_PUBLIC") %>"; bulletin_id="<%= @bulletin.id %>"; csrf_token="<%= Plug.CSRFProtection.get_csrf_token() %>"</script>
  </head>
  <body class="bg-yellow-50 flex flex-col min-h-screen">
    <header class="bg-yellow-100">
        <nav class="flex items-center justify-between container p-6 mx-auto">
            <h1 class="text-xl font-bold sm:text-4xl">
                <%= @bulletin.title %>: by&nbsp<%= link @bulletin.user.name, to: Routes.user_path(@conn, :show, @bulletin.user) %>
            </h1>
            <a id="sub_btn" href="#" class="p-2 sm:px-6 bg-teal-500 hover:bg-teal-600 rounded-md text-white sm:text-lg">loading...</a>
        </nav>
    </header>
    <main class="container mx-auto flex-grow">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner_content %>

    </main>

    <footer class="container mx-auto">
      <nav role="navigation" class="px-2 my-7 text-gray-600 flex space-x-4 justify-between">
        <p>
        <%= link "Home", to: Routes.bulletin_path(@conn, :index), class: "text-lg rounded-md m-2 bg-yellow-100 p-2 text-sm text-gray-700"%>
        </p>

        <p>
        <%= if @current_user do %>
            <%= link @current_user.name, to: Routes.user_path(@conn, :show, @current_user.id), class: "text-lg rounded-md m-2 bg-yellow-100 p-2 text-sm text-gray-700"%>
            <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "text-lg rounded-md m-2 bg-gray-100 p-2 text-sm text-gray-700"%>
        <% else %>
            <%= link "Sign In", to: Routes.session_path(@conn, :new), class: "text-lg rounded-md m-2 bg-yellow-100 p-2 text-sm text-gray-700" %>
            <%= link "Register", to: Routes.user_path(@conn, :new), class: "text-lg rounded-md m-2 bg-gray-100 p-2 text-sm text-gray-700" %>
        <% end %>
        </p>
      </nav>
    </footer>

  </body>
</html>