<h1>Sign In</h1>
<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>
<div class="form-group">
  <%= label f, :email, class: "control-label" %>
  <div class="flex justify-end flex-col md:flex-row md:justify-center">
    <%= text_input f, :email, class: "form-control", autofocus: true %>
    <%= error_tag f, :email %>
    <%= submit "Send Login Link", class: "rounded-md m-2 bg-blue-100 p-2 text-sm text-blue-700" %>
  </div>
</div>
<div >
</div>
<% end %>
<br>
<p class="m-2 my-4">
  events.verynice.party exlusively uses magic links sent to your inbox for logging in.<br>
  Put in the email you registered with, and then check your inbox for a login link.
</p>
