<div class="flex-col justify-center space-y-4 my-4 m-2">
<%= for bulletin <- Enum.sort(@bulletins, &(length(&1.subscribers) >= length(&2.subscribers))) do %>
    <%= link to: Routes.bulletin_path(@conn, :show, bulletin) do %>
      <div class="p-2 border-2 m-4 rounded-md mx-auto">
        <h1 class="text-xl font-semibold"><%= bulletin.title %></h1>
        <p>
          by <%= bulletin.user.name %>
          (<%= length bulletin.subscribers %> subscriber<%= if length(bulletin.subscribers) != 1 do "s" end %>)
        </p>
      </div>
  <% end %>
<% end %>
    <%= if @current_user do %>
    <span class="text-gray-600"><%= link "(Create New Bulletin)", to: Routes.bulletin_path(@conn, :new) %></span>
    <% end %>
</div>
