<h1>Show Bulletin</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @bulletin.title %>
  </li>

  <li>
    <strong>Owner:</strong>
    <%= link @bulletin.user.name, to: Routes.user_path(@conn, :show, @bulletin.user) %>
  </li>

  <li>
    <strong>Subscribers:</strong>
    <%= length @bulletin.subscribers %>
  </li>

  <li>
    <strong>Events:</strong>
    <ul>
      <%= for event <- @bulletin.events do %>
        <li>
          <span><%= link event.title, to: Routes.event_path(@conn, :show, event) %></span>
          <span><%= event.body %></span>
          <span>(<%= event.start_date %>)</span>
        </li>
      <% end %>
    </ul>
  </li>

</ul>

<span><%= link "Back", to: Routes.bulletin_path(@conn, :index) %></span>

<%= if @current_user && @bulletin.user_id == @current_user.id do %>
<span>(
  <span><%= link "Edit", to: Routes.bulletin_path(@conn, :edit, @bulletin) %></span>
  |
  <span><%= link "Delete", to: Routes.bulletin_path(@conn, :delete, @bulletin), method: :delete, data: [confirm: "Delete #{@bulletin.title}?"] %></span>
)</span>
<% end %>