<div class="flex-row flex-grow space-y-4 my-4 m-2">
<%= if length(@events) != 0 do %>
  <%= for event <- @events do %>
    <div class="pb-2 border-2 rounded-md border-black mx-auto">
      <div class="p-2 pb-1 flex justify-between bg-yellow-100 rounded-t-md">
        <h2 class="font-bold text-lg"><%= event.title %></h2>
        <h2 class=""><%= Calendar.strftime event.start_date, "%a, %b %-d %H:%M" %></h2>
        </div>
      <div class="p-2 mx-auto"><%= text_to_html event.body %></div>

      <%= if @current_user && @bulletin.user_id == @current_user.id do %>
        <p class="p-3 text-gray-600 text-right">(
          <%= link "Edit", to: Routes.event_path(@conn, :edit, event) %>
          |
          <%= link "Delete", to: Routes.event_path(@conn, :delete, event), method: :delete, data: [confirm: "Delete #{event.title}?"] %>
        )</p>
      <% end %>

    </div>
  <% end %>
<% else %>
    <div class="pb-2 border-2 rounded-md border-black mx-auto">
    <h2 class="p-2 pb-1 font-bold text-lg">No events right now... subscribe and know when something new pops up!</h2>
    </div>
<% end %>

      <%= if @current_user && @bulletin.user_id == @current_user.id do %>
      <p class="p-3 text-gray-600 text-right">(
      <%= link "New Event", to: Routes.event_path(@conn, :new, @bulletin) %>
      | <%= link "Edit Board", to: Routes.bulletin_path(@conn, :edit, @bulletin), class: "flex-grow"%>
      | <%= link "Send Notification", to: Routes.notification_path(@conn, :new, @bulletin), class: "flex-grow"%>
      )</p>
      <% end %>

</div>